.badge {
  border-radius: 16px;
  font-size: 12px;
  line-height: 24px;
  padding: 6px 12px;
  border: 1px solid $border-color;

  &-dark {
      background: $primary_dark;
      color: $text_secondary;
      &-secondary {
        background: $secondary_dark;
        color: $text_secondary;
      }
  }

  &-light {
      background: $primary_white;
      color: $primary_dark;
      &-secondary {
        background: $secondary_white;
        color: $secondary_dark;
      }
  }

  &-grey {
    background: $primary_grey;
    color: $primary_dark;
    &-secondary {
      background: $secondary_grey;
      color: $secondary_dark;
    }
  }
}
