/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */
.blocks {
  &-list {
    @include tablet {
      margin: 0 -15px;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
  }

  &-item {
    @include tablet {
      margin: 0 15px 30px;
    }

    @extend .card;

    display: flex;
    flex: 1 0 340px;
    margin: 0 0 30px;
    max-width: 100%;
    text-align: left;
    transition: .2s;

    &:hover,
    &:focus,
    &:active {
      background-color: $secondary_white;
      transition: .2s;

      * {
        color: $primary_dark;
        text-decoration: none;
      }
    }

    &-internal {
      background-color: transparent;
      border: 1px solid $border-color;

      .icon-lock {
        height: 15px;
        width: 15px;
        bottom: 5px;
        position: relative;
      }

      a { color: $text_color; }
    }
  }

  &-item-link {

    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    border-radius: inherit;

    &:hover,
    &:active {
      text-decoration: none;
      color: $primary_white;
    }

    &:focus {
      text-decoration: none;
    }
  }

  &-item-title {
    color: $primary_white;
    margin-bottom: 0;
    @extend .type_sub_header;
    margin-bottom: auto;

  }

  &-item-description {
    margin: 0;
    margin-top: auto;
    color: $secondary_grey;
    @extend .type_body_sub;
  }

  &-item-description:not(:empty) {
    margin-top: 1em;
  }
}
