.card {
  border: 1px solid transparent;
  border-radius: 6px;
  box-sizing: border-box;
  color: $primary_white;
  background: $secondary_dark;
  transition: .2s;
  padding: 1rem;

  @include desktop {
    padding: 2rem;
  }


  h1,h2,h3,h4,h5,h6 {
    a {
      text-decoration: none;
    }
  }
}
