/***** Category pages *****/
.category {
  &-container {
    display: flex;
    justify-content: flex-end;
  }

  &-content {
    @include desktop {
      flex: 0 0 80%;
      padding: 0 60px;
    }

    flex: 1;
  }
  &-sidebar {
    @include desktop {
      flex: 0 0 18%;
      margin-right: 2%;
    }
  }
}

.section-tree {
  @include tablet { flex-direction: row; }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  .section {
    @include desktop { flex: 0 0 100%; }
    flex: initial;
    @extend .card;
    margin-bottom: 20px;
  }

  &-title {
    margin-bottom: 0;
    padding-bottom: 1rem;
    @extend .type_sub_header;
    border-bottom: 1px solid $border-color;

    a { color: $text_color; }
  }

  .see-all-articles {
    display: block;
    padding: 15px 0 0 0;
  }
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &-item {
    padding: 15px 0;

    @include desktop {
      flex: 0 0 48%;
    }

    a {
      color: $text_color;
      
      &:hover {
        text-decoration-color: $subheader;
      }
    }
  }
}

.icon-star {
  color: $brand_color;
  font-size: 18px;
}
