/***** Hero component *****/
.hero {
  background-image: url($homepage_background_image);
  background-position: center;
  background-size: cover;
  height: 300px;
  padding: 0 20px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid $secondary_dark;
  border-top: 1px solid $secondary_dark;

  &-inner {
    @include vertical-align;
    max-width: 610px;
    margin: 0 auto;
  }

  .search-icon {
    color: $cta;
  }
  svg path {
    fill: $cta;
  }
}
